@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');
:root{
    --cor-cinza: #F9F9F9;
    --cor-buscar: #E9E9E9;
}

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body{
    font-family: 'Source Sans Pro', sans-serif;
}

nav a{
    color: inherit;
    text-decoration: none;
}
  
nav ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    
}
  
nav li{
    height: 2rem;
    justify-content: space-around;
}
.flex{
    display: flex;
}
.uppercase{
    text-transform: uppercase;
}

.img-logo{
    height: 90px;
    justify-content: flex-end;
}

.busc{
    border: solid 0.3rem var(--cor-buscar);
    border-right: solid 300px var(--cor-buscar);
    background: var(--cor-buscar);
  border-radius: 0 2rem 2rem 0rem;
  color: inherit;
  display: block;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
}

.busc2{
    border: solid 0.7rem var(--cor-buscar);
    background: var(--cor-buscar);
    padding: 0;
    border-radius: 2rem 0rem 0rem 2rem;
}

.img-buscar{
    height: 20px;
}

.img-icones{
    height: 46px;
}
.container-inicio{
    color: white;
    background-color: #000000;
    border-bottom: solid 0.1rem white;
    padding: 0.5rem 0;
    justify-content: center;  
}

@media screen and (min-width: 960px){
    nav ul{
      align-items: center;
      flex-direction: row;
    }
        
    nav li{
      align-items: center;
      display: flex;
      padding-left: 1rem;
      justify-content: center;
    }
        
    header{
      align-items: center;
      justify-content: center;
    }
    
    #barra-buscar{
        padding: 2rem;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
}